// Light Theme
$backgroundLt: #FAFAF9;
$surface-Lt: #FFFFFF;
$mainTextLt: #1C1C1F;
$secondaryTextLt: #5A5A63;
$borderLt: #E4E4E7;

// Dark Theme
$backgroundDt: #0E0E11;
$surfaceDt: #16161D;
$mainTextDt: #EDEDED;
$secondaryTextDt: #A1A1AA;
$borderDt: #2A2A32;

// General Colors
$highlight: #A67152;