// Light Theme
$background-lt: #FAFAF9;
$surface-lt: #FFFFFF;
$main-text-lt: #1C1C1F;
$secondary-text-lt: #5A5A63;
$border-lt: #E4E4E7;

// Dark Theme
$background-dt: #0E0E11;
$surface-dt: #16161D;
$main-text-dt: #EDEDED;
$secondary-text-dt: #A1A1AA;
$border-dt: #2A2A32;

// General Colors
$highlight: #A67152;