// Light Theme
$backgroundLt: #FFFCF2;
$colorFontLt: #252422;
$colorHoverLt: #403D39;


// Dark Theme
$backgroundDt: #252422;
$colorFontDt: #FFFCF2;
$colorHoverDt: #CCC5b9;

// General Colors
$highlight: #EB5E28;
