@use "../../../../Styles/variables.scss" as *;

#featured-post {
    color: $colorFontLt;

    h4 {
        color: $colorHoverDt;
    }

    .line-detail {
        border-top: 1px solid $colorHoverDt;
    }
    .line-detail:first-of-type {
        margin-left: 6rem;
    }

    .line-detail:last-of-type {
        margin-right: 6rem;
    }
}