@use "../../../../Styles/variables.scss" as *;

#featured-post {
    color: $colorFontLt;

    h4 {
        color: $colorHoverDt;
    }

    a {
        background-color: $backgroundLt;
        &:hover {
            background-color: $colorHoverDt;
            color: $colorFontDt;
        }
    }
}