@use "../../Styles/variables.scss" as *;

#navbar {
    background-color: $backgroundLt;
    color: $colorFontLt;

    .social-icons {
        color: $colorFontLt;
        cursor: pointer;
        &:hover {
            color: $highlight;
        }
    }

    .btn-login {
        position: relative; 
        border: none;
        background: transparent;
        cursor: pointer;
        padding-bottom: 4px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $colorHoverDt;
            transform: scaleX(0);
            transform-origin: center; // faz a animação do centro para as pontas
            transition: transform 0.3s ease;
        }

        &:hover::after {
            transform: scaleX(1); // expande totalmente
        }
    }

    .btn-signup {
        background-color: $backgroundDt;
        color: $colorFontDt;
        cursor: pointer;

        &:hover {
            background-color: $colorHoverDt;
            color: $colorFontLt;
        }
    }
}