#navbar {
    .btn-login {
        position: relative;
        background: transparent;
        cursor: pointer;
        padding-bottom: 4px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--accent);
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    .btn-signup {
        background-color: var(--accent);
        color: white;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: var(--accent-hover);
        }
    }
}

.mobile {
    display: block;
    @media (min-width:768px) {
        display: none;
    }
}

.desktop {
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}
