@use "../../../Styles/variables.scss" as *;

#hero {
    background-color: $backgroundLt;
    color: $colorFontLt;

    h1 {
        font-family: 'Vollkorn SC', serif;
        text-transform: uppercase;
    }

    h2 {
        color: $colorHoverDt;
    }
}