@use "../../../Styles/variables.scss" as *;

.home-sections {
    display: flex;
    flex-direction: column; /* colunas empilhadas */
    gap: 15px;
    padding: 20px;
    background-color: $backgroundLt;

    .column {
        width: calc(100% - 40px); /* largura total com margem */
        margin: 0 20px;
    }

    .left-column {
        background-color: #f5f5f5;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .top-right,
        .bottom-right {
            width: 100%;
            padding: 10px;
            
        }

        .top-right {
            background-color: #f5f5f5;

        }

        .bottom-right {
            background-color: #f5f5f5;
        }
    }
}

/* Desktop (largura >= 768px) */
@media (min-width: 768px) {
    .home-sections {
        flex-direction: row; /* colunas lado a lado */
        gap: 20px;

        .left-column {
            flex: 2; /* 2/3 da largura */
            width: auto;
            margin: 0;
        }

        .right-column {
            flex: 1; /* 1/3 da largura */
            width: auto;

            .top-right {
                flex: 2; /* 2/3 da coluna direita */
            }

            .bottom-right {
                flex: 1; /* 1/3 da coluna direita */
            }
        }
    }
}

@media (min-width: 1024px) {
    .home-sections {
        padding: 20px 120px;
    }
}